$curve: cubic-bezier(0.68, -0.55, 0.265, 1.55);
.blue_input {
  transition: all 250ms ease-out;

  &:hover{
    border-bottom: 1px solid hsl(215, 100%, 55%);
  }

  &:focus {
    outline: none;
    width: 80%;
    border-bottom: 1px solid hsl(215, 100%, 55%);
    box-shadow: 0 15px 40px -10px hsl(215, 100%, 55%);
  }
}